#clipbox {
  width: 500px;
  height: 500px;
  overflow: hidden;

  border: 1px solid black;
}

#main {
  /* We use transforms to move the map within the clip box while panning.
     They look like this:
    -webkit-transform: translate(-500px, -500px);
    -moz-transform: translate(-500px, -500px);
  */
  position: relative;
}
